
<ul>
    
{{#each burgers}}
    {{#unless devoured}}
    <li>Burger Name: {{burger_name}}</li>
    {{/unless}}
{{/each}}
</ul>

<h2>Add a burger!</h2>
<form class="create-form">
    <div class="form-group">
        <label for="burger">Want another burger?</label>
        <textarea  type="text" id="burger" name="burger_name">
    </textarea>
    </div>
</form>
<button class="add-burger" type="click">Add a Burger!</button>

